<link rel="stylesheet" href="/css/add_product.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<nav id="navbar" class="">
	<div class="nav-wrapper">
	  <!-- Navbar Logo -->
	  <div class="logo">
		<!-- Logo Placeholder for Inlustration -->
		<a href="/"><i class="fa fa-angellist"></i> 500x.tech</a>
	  </div>
  
	  <!-- Navbar Links -->
	  <ul id="menu">
		<li><a href="/add_product">Add Product</a></li><!--
	 --><li><a href="/logout">Logout</a></li>
	  </ul>
	</div>
  </nav>
  <table class="rwd-table" style="margin-top: 14%;">
	<form id="add_form" method="post" action="/add_product">
		<tr>
			<th>Product Name</th>
			<th>
				<input type="text" name="product_name" required>
			</th>
		</tr>
		<tr>
			<th>Product Price</th>
			<th>
				<input type="text" name="price" required>
			</th>
		</tr>
	</form>
  </table>
  <button type="submit" class="btn" style="margin-left:43%;margin-top: 2%;" form="add_form">Add Product</button>