<form action="/charge?price=<%=product.price%>" method="post">
    Amount = <%=product.price%>
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_51MgAZtSDlqdSkfhnrq1nDb3NHXcATIxxo4x61qkSKIIZMUe8tutLQ8Xxx6cVKsFxvhQKSYnsuKXOBtExjl2pdoxP00gyFhAxLG"
            data-amount=""
            data-name="My App"
            data-description="Payment"
            data-image=""
            data-locale="auto">
    </script>
</form>